<div class="container">
    <h1>Write a new blog</h1>
</div>
<div class="col-sm-6">
    <form [formGroup]="blogForm" (ngSubmit)="submitData()">
        <div class="form-group">
            <label>Blog Title</label>
            <input required class="form-control" minlength="3" formControlName="title">
        </div>
        <div class="form-group">
            <label for="newBlog">Write your story</label>
            <textarea required class="form-control blog-input" formControlName="message"></textarea>
        </div>
        <button class="btn-sbt btn-primary" [disabled]="blogForm.invalid">Create</button>
    </form>
    <button class="btn btn-primary" routerLink="/home">Go Back</button>
</div>
