<div class="page-container">
    <div class="sidebar">
        <h2>Current blogs: {{numberOfBlogs()}}</h2>
        <div class="list-items" *ngFor="let blogContent of getCurrentBlogContents()">
            <div class="list-item">
                <a [routerLink]="['/display', blogContent.id]" routerLinkActive="selected">
                    <i class="material-icons">arrow_forward_ios</i>{{blogContent.blog.title | titlecase}}
                </a>
            </div>
        </div>   
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>