
.page-container {

    display: flex;
    height: 100%;
    background: rgb(233, 226, 226);
    overflow-x: hidden;
}

.sidebar {
    position: relative;
    height: 100%;
    width: 400px;
    background: rgb(0, 0, 63, 0.2);
    padding: 10px 0;
}

.list-items {
    padding-top: 10px 0;
}

.list-item {
    display: flex;
    align-items: center;
    max-width: 1000px;
    font-size: 25px;
    color: grey;
    padding: 10px 0;
    font-family: 'Roboto';
    cursor: pointer;
    background-color: #e3eaee;
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.list-item:hover {
    color: white;
    background-color: rgb(152, 152, 219);
}


.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: rgb(247, 247, 211);
    opacity: 0;
    transform: skewY(0);
    transition: transform 0.2s, opacity 0.2s;
}

.list-item:hover::before {
    opacity: 1;
    transform: skewY(1);
}

i.material-icons {
    margin-right: 2px;
    font-size: 20px;
}

.list-item.selected {
    color: gray;
}

h2 {
    font-size: 30;
    padding: 5px 20px;
    color: rgb(152, 152, 219);
}